body{
    margin: 5px;
}

#affichage{
    width : 100%;
    display: flex;
    justify-content: center;
}

form{
    display : inline;
}

a{
  text-decoration: none;
  color: black;
  transition: 1s
}

table{
    margin: 10px auto;
    display: inline-block;
    max-width: 95%!important;
    border-radius: 5px;

}

table:hover tbody{
  box-shadow: none;
}

tbody{
    background-color: black;
    display:block;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 4px;
    border-radius: 5px;
  transition: 1s;
  box-shadow: 0px 0px 40px rgba(50,50,50,0.8)

}
th{
    width : 150px;
}

td, th{
border : none!important
}

.btn{
    padding-top : 5px;
    margin-bottom: 5px;
}

.form-control{
    width : 33%;
    display: inline;
}

tr{
  transition: 1s;
  background-color: white;
  border-radius: 5px;
  display: block;
  border: 1px solid black
}
